In [34]:
from  pyspark.sql import functions as Fun
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [21]:
data=[('a1',10,20),('b1',25,40),('c1',25,400),('a1',40,15),('c1',25,500),('c1',30,600)]
inpdf=spark.createDataFrame(data,['col1','col2','col3'])

In [22]:
inpdf.createOrReplaceTempView('tmp1')

In [25]:
spark.sql("select *,rank() over (partition by col1 order by col2) as rank from tmp1").show()

+----+----+----+----+
|col1|col2|col3|rank|
+----+----+----+----+
|  c1|  25| 400|   1|
|  c1|  25| 500|   1|
|  c1|  30| 600|   3|
|  b1|  25|  40|   1|
|  a1|  10|  20|   1|
|  a1|  40|  15|   2|
+----+----+----+----+

In [27]:
spark.sql("select *,row_number() over (partition by col1 order by col2) as rownum from tmp1").show()

+----+----+----+------+
|col1|col2|col3|rownum|
+----+----+----+------+
|  c1|  25| 400|     1|
|  c1|  25| 500|     2|
|  c1|  30| 600|     3|
|  b1|  25|  40|     1|
|  a1|  10|  20|     1|
|  a1|  40|  15|     2|
+----+----+----+------+

In [33]:
spark.sql("select *,first_value(col2) over (partition by col1 order by col2 desc) as maxcol3 from tmp1").show()

+----+----+----+-------+
|col1|col2|col3|maxcol3|
+----+----+----+-------+
|  c1|  30| 600|     30|
|  c1|  25| 400|     30|
|  c1|  25| 500|     30|
|  b1|  25|  40|     25|
|  a1|  40|  15|     40|
|  a1|  10|  20|     40|
+----+----+----+-------+

In [35]:
winsp=Window.partitionBy('col1').orderBy('col2')